
@{
    ViewBag.Title = "Index";
}
@section Navigation{
    @Html.Partial("_NavBar", "How to Use")
}

<div class="panel panel-primary">
    <div class="panel-heading"><h4>SmartVendor at a glance</h4></div>
    <div class="panel-body">
        <ul>
            <li>Provides Inventory Management System as a service</li>
            <li>Mutiple branch support</li>
            <li>Bussiness owners can use this platform to manage their inventory</li>
        </ul>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"><h4>Organisation and branch set up Proccess</h4></div>
    <div class="panel-body">
        <ul>
            <li>Register</li>
            <li>Add Organisation Details</li>
            <li>Add Product Categories</li>
            <li>Add Product to Organiszation</li>
            <li>Add Branch</li>
            <li>Assign Product to Branch</li>
            <li>Add Employee to Branch</li>
            <li>Add Vendors or Supplier</li>
        </ul>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"><h4>Purchase Proccess</h4></div>
    <div class="panel-body">
        <ul>
            <li>Employee Log in</li>
            <li>Employee send a purchase request</li>
            <li>Owner can choose to accept the request</li>
            <li>Employee can receive the accepted purchases</li>
        </ul>
    </div>
</div>


